<div class="addroutes">
    <div class="addroutes-title">
        <h1>Add Route</h1>
    </div>
    <div class="addroutes-description">
        <p>
            Be a part of our mission to guide newcomers and tourists by helping them navigate the city by adding Jeepney and Bus routes!
        </p>
    </div>
    <div class="addroutes-controls">
        <form action="">
            <div class="input-group addroute-type">
                <span class="input-group-text" id="basic-addon1">PUV Type&nbsp;<span class="required">*</span></span>
                <select class="form-select form-select-lg" name="vehicleType" #vehicleType (change)="vehicleTypeChange(vehicleType.value)">
                    <option value=""></option>
                    <option value="jeep">Jeepney</option>
                    <option value="bus">Bus</option>
                </select>
            </div>
            <div *ngIf="route.vehicleType != ''" class="addroute-details">
                <div *ngIf="route.vehicleType === 'bus'" class="form-floating">
                    <input type="text" [ngModel]="this.route.busName" name="busName" #busName (change)="busNameChanged(busName.value)" class="form-control addroute-name" id="busname" placeholder="Bus Name">
                    <label for="busname">Bus Name <span class="required">*</span></label>
                </div>
                <div class="form-floating">
                    <input type="text" [ngModel]="this.route.routeNumber" name="routeNumber" #routeNumber (change)="routeNumberChanged(routeNumber.value)" class="form-control addroute-number" id="routenumber" placeholder="Route Number">
                    <label for="routenumber">Route Number <span *ngIf="route.vehicleType === 'jeep'" class="required">*</span></label>
                </div>
            </div>
            <div class="addroute-route">
                <ng-container *ngIf="(this.route.markers!.length < 1); else displayItenerary">
                    <div  class="addroute-nostartingpoint">
                        <p>Right Click on the map to start adding a route</p>
                    </div>
                </ng-container>
                <ng-template #displayItenerary>
                    <div cdkDropList (cdkDropListDropped)="draggeddrop($event)" class="addroute-itenerary">
                        <h4>Route:</h4>
                        <ul>
                            <ng-container *ngFor="let marker of route.markers; let i = index">
                                <ng-container *ngIf="i === 0">
                                    <li (mouseenter)="markerHovered(marker)"
                                    (click)="markerClicked(marker)" cdkDrag><span class="marker"><i class="fa-solid fa-map-pin route-icon"></i>{{marker.streetname}}</span></li>
                                </ng-container> 
                                <ng-container *ngIf="route.markers!.length > 1 && i === route.markers!.length - 1">
                                    <li (mouseenter)="markerHovered(marker)"
                                    (click)="markerClicked(marker)" cdkDrag><span class="marker"><i class="fa-solid fa-map-pin route-icon"></i>{{marker.streetname}}</span></li>
                                </ng-container>
                                <ng-container *ngIf="i !== 0 && i !== (route.markers!.length - 1)">
                                    <li (mouseenter)="markerHovered(marker)"
                                    (click)="markerClicked(marker)" cdkDrag><span class="marker"><i class="fa-regular fa-circle-dot waypoint"></i>{{marker.streetname}}</span></li>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                </ng-template>
            </div>
            <div class="addroute-buttons">
                <div class="row">
                    <div class="col text-start">
                        <button type="button" class="btn btn-light" (click)="reset()">Reset</button>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-success" (click)="saveRoute()">Save Route</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>