.add-route {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-container {
    width: 100%;
    height: 100%;
}

.add-route-controls {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    
    overflow-y: scroll;
}


/*  v0.1

.addroutes {
    height: 100%;
    width: 100%;
}

.addroute-type {
    width: 50%;
}

.addroute-number, .addroute-name {
    margin-top: 10px;
}
.required {
    color: red;
}

.addroute-route {
    margin-top: 20px;
}

.addroute-itenerary > ul {
    list-style-type: none;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    border-left: 2px dotted black;
    padding-left: 10px;
}

.addroute-itenerary > ul > li {
    margin-bottom: 10px;
    list-style-type: none;
    overflow-y: hidden;
}

li {
    list-style-type: none;
    overflow: hidden;
    cursor: grabbing;
}

.marker {
    background-color: rgb(174, 218, 243);
    border-radius: 10px;
    padding: 3px 20px;
    cursor:grab;
}

.route-icon {
    margin-right: 20px;
    font-size: 10px;
}

.waypoint {
    margin-right: 20px;
    font-size: 8px;
}

.addroute-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
} */