.addroutes {
    height: 100%;
    width: 100%;
}

.addroute-type {
    width: 50%;
}

.addroute-number, .addroute-name {
    margin-top: 10px;
}
.required {
    color: red;
}

.addroute-route {
    margin-top: 20px;
}

.addroute-itenerary > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.route-icon {
    margin-right: 20px;
    font-size: 10px;
}

.addroute-gapmaker {
    font-size: 5px;
    margin-left: 1px;
    margin-bottom: 5px;
}

.addroute-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}