<div class="mapLoading" *ngIf="mapLoading">
  
</div>
<div id="map"></div>


<!-- Context Menu -->
<div id="map-context-menu" class="context-menu">
    <ul>
      <li (click)="addMarker()"><i class="fa-regular fa-circle-dot"></i> Add Marker</li>
    </ul>
  </div>

  <!-- Popover Template -->
<div #popoverContent class="popover-content" style="display: none;">
    <div class="popover-body">
      <p>Street Name : {{ this.selectedMarker?.name }}</p>
      <p>Latitude: {{ selectedMarker?.lat }}</p>
      <p>Longitude: {{ selectedMarker?.lng }}</p>
    </div>
</div>