<div id="map"></div>

<div class="user-location" [ngClass]="{
  'mobile-user-location' : isMobileDevice
}" (click)="centerOnUserLocation(false)">
  <i class="fa-solid fa-location-dot"></i>
</div>


<!-- Context Menu -->
<div id="map-context-menu" class="context-menu">
    <ul>
      <li (click)="addMarker()" *ngIf="isAddRouteActive"><i class="fa-regular fa-circle-dot"></i> Add Marker</li>
      <li (click)="setAsStartingPoint()" *ngIf="isFindRouteActive">Set as Starting Point</li>
      <li (click)="setAsDestination()" *ngIf="isFindRouteActive">Set as Destination</li>
    </ul>
  </div>

  <!-- Popover Template -->
<div #popoverContent class="popover-content" style="display: none;">
    <div class="popover-body">
      <p>Street Name : {{ this.selectedMarker?.name }}</p>
      <p>Latitude: {{ selectedMarker?.lat }}</p>
      <p>Longitude: {{ selectedMarker?.lng }}</p>
    </div>
</div>