<div class="row header-nav">
    <div class="col-9">
        <h1>GoCommute</h1>
    </div>
    <div class="col-3">
        <div class="nav-wrapper">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/findroutes" href="#">Find Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addroutes" href="#">Add Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/verifyroutes" href="#">Verify Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
    
    
</div>
<div class="row main-content">
    <app-map></app-map>
    <div class="sidebar">
        <router-outlet></router-outlet>
    </div>
</div>
