<div class="header-nav">
    <h1>GoCommute</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLink="/" href="#" class="nav-link"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addroutes" href="#">Add Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/verifyroutes" href="#">Verify Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/findroutes" href="#">Find Routes</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>